<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ru">
<head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="/static/clipboard.min.js"></script>

<title>{{title}}</title>
</head>
<body>
{%if keys%}
<section class="Keys">
    <h1>Ключи с таким mashine_id:</h1>
    <table >
        <tr style="width:100%;">
                <td style="width:30%;">Ключ        </td>
                <td style="width:10%;">Имя ключа       </td>
                <td style="width:10%;">Партнёрская группа       </td>
                <td style="width:10%;">Клуб       </td>
                <td style="width:10%;">IP адрес         </td>
                <td style="width:10%;">Время последнего онлайна</td>
                <td style="width:10%;">Востоновление ключа</td>
            </tr>
        {%for key in keys%}
            <tr style="width:100%;">
                <td class="key" style="width:30%;" id={{key.key}} data-clipboard-text={{key.key}}>{{key.key}}        </td>
                <td style="width:10%;">{{key.name}}       </td>
                <td style="width:10%;">{{key.part}}       </td>
                <td style="width:10%;">{{key.club}}       </td>
                <td style="width:10%;">{{key.ip}}         </td>
                <td style="width:10%;">{{key.date_last_online}}</td>
                <td style="width:10%;"><input type="button" value="Востоновить ключ" OnClick="action('Restore_key {{key.key}} ./{{id}}/ssh')"></td>
            </tr>
        {%endfor%}
    </table>
</section>
{%endif%}

<section class="Log">
    <h1>Последние изменения в термнале {{id}}</h1>

        {{log|safe}}


</section>
<script>

new Clipboard('.key').on("success", function(e){alert("Ключ скопирован")});
setInterval(function(){location.reload()}, 20000000)

function sen(ssh, cmd, key ){
    var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
    var xhr = new XHR();
    if (ssh!="Connection"){
        var body="ssh="+encodeURIComponent(ssh)+"&cmd="+encodeURIComponent(cmd)+"&key="+encodeURIComponent(key);
    }else{
        var body= "ssh="+encodeURIComponent("True")+"&cmd="+encodeURIComponent(cmd)+"&key="+encodeURIComponent(key);
    }
    console.log(body)
    xhr.open('POST', 'http://localhost:52213/send', true);
    xhr.setRequestHeader('Access-Control-Request-Headers', 'Origin, X-Requested-With');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
    xhr.onload = function() {
        console.log( this.responseText );
    }

    xhr.onerror = function() {
        alert( 'Ошибка ' + this.status );
    }

    xhr.send(body);
}




function action(key){
    console.log(key)
    key=key.split(" ")
    console.log(key)
    var xhr = new XMLHttpRequest();
    var csrf="{% csrf_token %}";
    var toc=csrf.split(" ")[3].split("=")[1].replace("'","").replace("'","");
    var body= "fun="+encodeURIComponent(key[0])+"&key="+encodeURIComponent(key[1])+"&csrfmiddlewaretoken="+encodeURIComponent(toc)+"&page="+encodeURIComponent(key[2]);
    console.log(body)

    xhr.open('POST', '/rtc/get_key/', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
    xhr.onload = function() {
	    var cmd=this.responseText
	    if (cmd=="DONE"){
		    location.reload();
	    }
	    else{
	        console.log(cmd)
	        sen(cmd, key[0], key[1])
	    }
    }

    xhr.onerror = function() {
        alert( 'Ошибка ' + this.status );
    }

    xhr.send(body);
}


</script>
</body>
</html>