<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ru">
<head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="/static/clipboard.min.js"></script>

<title>{{title}}</title>
</head>
<body>
{%if keys%}
<section class="Keys">
    <h1>Ключи с таким mashine_id:</h1>
    <table >
        <tr style="width:100%;">
                <td style="width:30%;">Ключ        </td>
                <td style="width:10%;">Имя ключа       </td>
                <td style="width:10%;">Партнёрская группа       </td>
                <td style="width:10%;">Клуб       </td>
                <td style="width:10%;">IP адрес         </td>
                <td style="width:10%;">Время последнего онлайна</td>
            </tr>
        {%for key in keys%}
            <tr style="width:100%;">
                <td class="key" style="width:30%;" id={{key.key}} data-clipboard-text={{key.key}}>{{key.key}}        </td>
                <td style="width:10%;">{{key.name}}       </td>
                <td style="width:10%;">{{key.part}}       </td>
                <td style="width:10%;">{{key.club}}       </td>
                <td style="width:10%;">{{key.ip}}         </td>
                <td style="width:10%;">{{key.date_last_online}}</td>
            </tr>
        {%endfor%}
    </table>
</section>
{%endif%}

<section class="Log">
    <h1>Последние изменения в термнале {{id}}</h1>

        {{log|safe}}


</section>
<script>

new Clipboard('.key').on("success", function(e){alert("Ключ скопирован")});
setInterval(function(){location.reload()}, 100000)

</script>
</body>
</html>