<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ru">
<head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="/static/clipboard.min.js"></script>
    <style>
        .podsvet{
        color:red;


        }


    </style>
<title>{{title}}</title>
</head>
<body>

<section class="udalenka">
    <h1>Действия доступные для этого терминала:</h1>
    <input type="button" value="VNC" OnClick="action('VNC key ./{{id}}/vnc')">
    <input type="button" value="SSH" OnClick="action('VNC key ./{{id}}/ssh')">
    <input type="button" value="X" OnClick="action('X key ./{{id}}/x')">
    {% if perms.terminals.delete_keys%}
    <input class="mass_button" type="button"  value="reboot" OnClick="mass_batt('reboot','{{id}}')">
    <input class="mass_button" type="button"  value="soft_reboot" OnClick="mass_batt('soft_reboot','{{id}}')">
    <input class="mass_button" type="button"  value="update" OnClick="mass_batt('update','{{id}}')">
	<input class="mass_button" type="button"  value="white label BB" OnClick="mass_batt('white label BB','{{id}}')">
	<input class="mass_button" type="button"  value="white label Rub90" OnClick="mass_batt('white label Rub90','{{id}}')">
    <input class="mass_button" type="button"  value="swap_monitor" OnClick="mass_batt('swap_monitor','{{id}}')">
    <input class="mass_button" type="button"  value="kiosk" OnClick="mass_batt('kiosk','{{id}}')">
    <input class="mass_button" type="button"  value="run vnc" OnClick="mass_batt('run vnc','{{id}}')">
    <input class="mass_button" type="button"  value="enable gpu" OnClick="mass_batt('enable gpu','{{id}}')">
    <input class="mass_button" type="button"  value="disable gpu" OnClick="mass_batt('disable gpu','{{id}}')">
    <input type="button" value="Пустой ключ" style="display:none" OnClick="mass_batt('restore_key', '{{id}}', '')">
    {%endif%}
    {% csrf_token %}
    <h1>White Label - <span style="color:red;">{{wl}}</span></h1>
</section>

{%if keys%}
<section class="Keys">
    <h1>Ключи с таким mashine_id:</h1>
    <table >
        <tr style="width:100%;">
                <td style="width:30%;">Ключ        </td>
                <td style="width:10%;">Имя ключа       </td>
                <td style="width:10%;">Партнёрская группа       </td>
                <td style="width:10%;">Клуб       </td>
                <td style="width:10%;">IP адрес         </td>
                <td style="width:10%;">Версия образа         </td>
                <td style="width:10%;">Время последнего онлайна</td>
                <td style="width:10%;">Востановление ключа</td>
            </tr>
        {%for key in keys%}
            <tr style="width:100%;">
                <td class="key" style="width:30%;" id={{key.key}} data-clipboard-text={{key.key}} onclick="svetilka(event)">{{key.key}}        </td>
                <td style="width:10%;">{{key.name}}       </td>
                <td style="width:10%;">{{key.part}}       </td>
                <td style="width:10%;">{{key.club}}       </td>
                <td style="width:10%;">{{key.ip}}         </td>
                <td style="width:10%;">{{key.version}}         </td>
                <td style="width:10%;">{{key.date_last_online}}</td>
                <td style="width:10%;">

                    <input type="button" value="Востановить ключ" OnClick="mass_batt('restore_key', '{{id}}', '{{key.key}}')">
                </td>
            </tr>
        {%endfor%}
    </table>
</section>
{%endif%}

<section class="Log">
    <h1>Последние изменения в термнале {{id}}</h1>
        {%if actions%}
            <div>
                <table >
                    <tr>
                            <td style="width:10%;">Пользователь</td>
                            <td style="width:10%;">Наименование действия</td>
                            <td style="width:60%;">Действие</td>
                            <td style="width:10%;">IP</td>
                            <td style="width:10%;">Время действия</td>
                        </tr>
                    {%for action in actions%}
                        <tr>
                            <td style="width:10%;">{{action.user}}</td>
                            <td style="width:10%;">{{action.action_name}}</td>
                            <td style="width:60%;">{{action.action}}</td>
                            <td style="width:10%;">{{action.user_ip}}</td>
                            <td style="width:10%;">{{action.time}}</td>
                        </tr>

                    {%endfor%}
                </table>

            </div>
        {%endif%}
        <h1>Лог обновления терминала:</h1>
        <div id="Log_update"></div>


</section>
<script>

function logging(id){
    var xhr = new XMLHttpRequest();
    var csrf="{% csrf_token %}";
    var toc=csrf.split(" ")[3].split("=")[1].replace("'","").replace("'","");
    var body= "id="+encodeURIComponent(id)+"&csrfmiddlewaretoken="+encodeURIComponent(toc);
    //console.log(body)
    xhr.open('POST', "", true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
    xhr.onload = function() {
	    var cmd=this.responseText
	    if (cmd=="DONE"){
		    location.reload();
	    }
	    else{
	        //console.log(cmd)
	        document.getElementById('Log_update').innerHTML=cmd
	        setTimeout(function(){logging(id)}, 2000)
	    //sen(cmd)
	    }
    }

    xhr.onerror = function() {
        alert( 'Ошибка ' + this.status );
    }

    xhr.send(body);

}

new Clipboard('.key').on("success", function(e){

console.info("%cКлюч "+e.text+" скопирован!", "color: blue; font-weight:900;")});
window.onload=logging("{{id}}")


function svetilka(event){
    el=event.toElement
    el.classList.add("podsvet");
    setTimeout(function(){el.classList.remove("podsvet");}, 1000)
    };



function sen(ssh, cmd, key ,url){
    var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
    var xhr = new XHR();
    if (ssh!="Connection"){
        var body="ssh="+encodeURIComponent(ssh)+"&cmd="+encodeURIComponent(cmd)+"&key="+encodeURIComponent(key);
    }else{
        var body= "ssh="+encodeURIComponent("True")+"&cmd="+encodeURIComponent(cmd)+"&key="+encodeURIComponent(key);
    }
    console.log(body)
    xhr.open('POST', url, true);
    xhr.setRequestHeader('Access-Control-Request-Headers', 'Origin, X-Requested-With');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
    xhr.onload = function() {
        console.log( this.responseText );
    }

    xhr.onerror = function() {
        alert( 'Ошибка ' + this.status );
    }

    xhr.send(body);
}
function sen2(cmd){
    var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
    var xhr = new XHR();
    if (cmd!="Connection"){
        var body="con="+encodeURIComponent(cmd);
    }else{
        var body= "con="+encodeURIComponent("True");
    }
    xhr.open('POST', 'http://localhost:52213/con', true);
    //xhr.setRequestHeader('Access-Control-Request-Headers', 'Origin, X-Requested-With');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
    xhr.onload = function() {
        console.log( this.responseText );
    }

    xhr.onerror = function() {
        alert( 'Ошибка ' + this.status );
    }

xhr.send(body);
}





function action(key){
    console.log(key)
    key=key.split(" ")
    console.log(key)
    var xhr = new XMLHttpRequest();
    var csrf="{% csrf_token %}";
    var toc=csrf.split(" ")[3].split("=")[1].replace("'","").replace("'","");
    var body= "fun="+encodeURIComponent(key[0])+"&key="+encodeURIComponent(key[1])+"&csrfmiddlewaretoken="+encodeURIComponent(toc)+"&page="+encodeURIComponent(key[2]);
    console.log(body)

    xhr.open('POST', '/rtc/get_key/', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
    xhr.onload = function() {
	    var cmd=this.responseText
	    if (cmd=="DONE"){
		    location.reload();
	    }
	    else{
	        console.log(key[0])
	        if ((key[0] == "VNC") || (key[0] == "X")){
	            console.log(cmd)
	            sen2(cmd)
	        }else{
	            console.log("ШО")
	            sen(cmd, key[0], key[1], 'http://localhost:52213/send')
	        }
	    }
    }

    xhr.onerror = function() {
        alert( 'Ошибка ' + this.status );
    }

    xhr.send(body);
}
function mass_batt(command, id, key=""){
    var csrf=document.getElementsByName("csrfmiddlewaretoken")[0]
    var list_id=[id]
    var slov={}
	slov.command=command
	slov.ids=list_id
	slov.key=key
	console.log(slov)
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/rtc/masseffect/', true);
	xhr.setRequestHeader('Content-Type', "application/json; charset=utf-8")

	xhr.setRequestHeader('X-CSRFToken', csrf.value)
	xhr.onload = function() {
		console.log(this.responseText)
		if (this.responseText=="done"){
			location.reload();
		}
	}
	xhr.send(param=JSON.stringify(slov))
}

</script>
</body>
</html>