<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action=".", method="GET" >
<select name="version">
    <option value="">Любой терминал</option>
    <option value=".">Старый терминал</option>
    <option value="~">Новый терминал</option>

</select>
    <select name="Number_of_days">
        <option value=1>1 День</option>
        <option value=2>2 Дня</option>
        <option value=5>5 Дня</option>
        <option value=7>1 Неделя</option>
        <option value=14>2 Недели</option>
        <option value=30>1 Месяц</option>
        <option value=60>2 Месяц</option>
        <option selected value=365 >1 Год</option>

    </select>
<input type="submit">

</form>
<table>
    <thead>
    <td>Имя партнёрки</td>
    <td>Всего ключей для терминалов</td>
    <td>Колличество зарегистрированных ключей на новых терминалах</td>
    <td>Колличество зарегистрированных ключей на старых терминалах</td>
    </thead>
    {%for part in terms_on_part%}
    <tr>
    <td>{{part.part_name}}</td>
    <td>{{part.keys}}</td>
    <td>{{part.new_term}}</td>
    <td>{{part.old_term}}</td>
    </tr>
    {%endfor%}

</table>



</body>
</html>