<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика по терминалам</title>
    <style>
        td{
            border-style:inset;
            border-spacing:0px;
        }

table {
  border-collapse: collapse;
  border-spacing: 0;
}




    </style>
</head>
<body>
<form action=".", method="GET" >
    Партнёрские группы с терминалом :
<select name="version">
    <option value="" {% if filt.version == ''%} selected {%endif%}>Любой терминал</option>
    <option value="."{% if filt.version == '.'%} selected {%endif%}>Старый терминал</option>
    <option value="~" {% if filt.version == '~'%} selected {%endif%}>Новый терминал</option>

</select>
    <br>
    Терминал был онлайн хотябы раз в течении:
    <select name="Number_of_days">
        <option value=1 {% if filt.number_of_days == "1" %} selected {%endif%}>1 День</option>
        <option value=2 {% if filt.number_of_days == "2" %} selected {%endif%}>2 Дня</option>
        <option value=5 {% if filt.number_of_days == "5" %} selected {%endif%}>5 Дней</option>
        <option value=7 {% if filt.number_of_days == "7" %} selected {%endif%}>1 Неделя</option>
        <option value=14 {% if filt.number_of_days == "14" %} selected {%endif%}>2 Недели</option>
        <option value=30 {% if filt.number_of_days == "30" %} selected {%endif%}>1 Месяц</option>
        <option value=60 {% if filt.number_of_days == "60" %} selected {%endif%}>2 Месяца</option>
        <option  value=365 {% if filt.number_of_days == "365" %} selected {%endif%}>1 Год</option>

    </select>
    <br>
<input type="submit" value="Запросить статистику">

</form>
<table style="{border-style:groove}">
    <thead style="{color}">
    <tr    style="background: aquamarine;">
    <td>Имя партнёрки</td>
    <td>Всего ключей для терминалов</td>
    <td>Колличество зарегистрированных ключей на новых терминалах</td>
    <td>Колличество зарегистрированных ключей на старых терминалах</td>
    </tr>
    </thead>
    {%for part in terms_on_part%}
    <tr>
    <td class="nam">{{part.part_name}}</td>
    <td class="allkey">{{part.keys}}</td>
    <td class="newkey">{{part.new_term}}</td>

    <td class="oldkey">{{part.old_term}}</td>
    </tr>

    {%endfor%}
    <tr style="font-weight: 900; background: aquamarine; ">
        <td id="part">Итого</td>
        <td id="all_key"></td>
        <td id="new_key"></td>
        <td id="old_key"></td>
    </tr>
</table>


<script>
    var nam=document.getElementsByClassName("nam")
    var part=0
    for (var i in nam){
        if (typeof nam[i]=="object"){
        part=part+1

        }

    }
    document.getElementById("part").innerHTML= document.getElementById("part").innerHTML+"   Партнёрок: "+part
    console.log(part)



    var allkey=document.getElementsByClassName("allkey")
    var all_key=0
    for (var i in allkey){
        if(typeof allkey[i]=="object"){
            all_key=all_key+Number(allkey[i].textContent)
            //console.log(allkey[i].textContent)
            }
    }
    document.getElementById("all_key").innerHTML="Всего ключей в этих партнёрках: "+all_key
    //console.log(all_key)

    var newkey=document.getElementsByClassName("newkey")
    var new_key=0
    for (var i in newkey){
        if(typeof newkey[i]=="object"){
            new_key=new_key+Number(newkey[i].textContent)
            //console.log(newkey[i].textContent)
            }
    }
    document.getElementById("new_key").innerHTML="Новых ключей зарегистрировано в этих партнёрках: "+new_key
    //console.log(new_key)



    var oldkey=document.getElementsByClassName("oldkey")
    var old_key=0
    for (var i in oldkey){
        if(typeof oldkey[i]=="object"){
            old_key=old_key+Number(oldkey[i].textContent)
            //console.log(oldkey[i].textContent)
            }
    }
    document.getElementById("old_key").innerHTML="Старых ключей зарегистрировано в этих партнёрках: "+old_key
    //console.log(new_key)
</script>
</body>
</html>